$color-menu: #3f3f3f !important;


body {
    background: url($ASSET_URL + "/images/texture/texture_back.png") black repeat !important;
    background-size: 12em
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500 !important;
    color: white;
}

.login-box, .register-box {
    width: 360px;
    background-color: $color-menu;
    padding-top: 40px;
    border: 1px solid #969696;
}

.login-card-body, .register-card-body, .card-footer, .card {
    background-color: $color-menu;
}

.card {
    box-shadow: none !important;
}

.login-logo img {
    height: 100px !important;
}

.card-title {
    color: white !important;
    font-weight: 400 !important;
}

.card-header {
    border-bottom: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}


